/* GLOBAL DARK BACKGROUND AND TEXT COLORS */
body {
  background-color: #252a34 !important;
  color: #ffffff !important;
}

a {
  color: #dbe8e1 !important;
}

a:hover {
  color: #034687 !important;
}

.page__content,
.site-header,
.site-footer {
  background-color: #151b25 !important;
  color: #ffffff !important;
}
